<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="applicationTransactionField">
            <h2><span>Application Transaction Field</span> {{applicationTransactionField.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{applicationTransactionField.name}}</span>
                </dd>
                <dt><span>Is Identifier</span></dt>
                <dd>
                    <span>{{applicationTransactionField.isIdentifier}}</span>
                </dd>
                <dt><span>Filter Value</span></dt>
                <dd>
                    <span>{{applicationTransactionField.filterValue}}</span>
                </dd>
                <dt><span>Application</span></dt>
                <dd>
                    <div *ngIf="applicationTransactionField.application">
                        <a [routerLink]="['/application-transaction', applicationTransactionField.application?.id, 'view']">{{applicationTransactionField.application?.name}}</a>
                    </div>
                </dd>
                <dt><span>Application Override</span></dt>
                <dd>
                    <div *ngIf="applicationTransactionField.applicationOverride">
                        <a [routerLink]="['/flow-application-sequence', applicationTransactionField.applicationOverride?.id, 'view']">{{applicationTransactionField.applicationOverride?.appSequence}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/application-transaction-field', applicationTransactionField.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
