<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-flow-application-sequence-heading">Create or edit a Flow Application Sequence</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!flowApplicationSequence.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="flowApplicationSequence.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_appSequence">App Sequence</label>
                    <input type="number" class="form-control" name="appSequence" id="field_appSequence"
                        [(ngModel)]="flowApplicationSequence.appSequence" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_flow">Flow</label>
                    <select class="form-control" id="field_flow" name="flow" [(ngModel)]="flowApplicationSequence.flow" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="transactionFlowOption.id === flowApplicationSequence.flow?.id ? flowApplicationSequence.flow : transactionFlowOption" *ngFor="let transactionFlowOption of transactionflows; trackBy: trackTransactionFlowById">{{transactionFlowOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_application">Application</label>
                    <select class="form-control" id="field_application" name="application" [(ngModel)]="flowApplicationSequence.application" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="applicationTransactionOption.id === flowApplicationSequence.application?.id ? flowApplicationSequence.application : applicationTransactionOption" *ngFor="let applicationTransactionOption of applicationtransactions; trackBy: trackApplicationTransactionById">{{applicationTransactionOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
