<div>
    <h2 id="page-heading">
        <span>Flow Application Sequences</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-flow-application-sequence" [routerLink]="['/flow-application-sequence/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Flow Application Sequence
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="flowApplicationSequences">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Flow</span></th>
            <th><span>Application</span></th>
                <th><span>App Sequence</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let flowApplicationSequence of flowApplicationSequences ;trackBy: trackId">
                <td><a [routerLink]="['/flow-application-sequence', flowApplicationSequence.id, 'view' ]">{{flowApplicationSequence.id}}</a></td>
                <td>
                    <div *ngIf="flowApplicationSequence.flow">
                        <a [routerLink]="['../transaction-flow', flowApplicationSequence.flow?.id, 'view' ]" >{{flowApplicationSequence.flow?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="flowApplicationSequence.application">
                        <a [routerLink]="['../application-transaction', flowApplicationSequence.application?.id, 'view' ]" >{{flowApplicationSequence.application?.name}}</a>
                    </div>
                </td>
                <td>{{flowApplicationSequence.appSequence}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/flow-application-sequence', flowApplicationSequence.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/flow-application-sequence', flowApplicationSequence.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'flow-application-sequence/'+ flowApplicationSequence.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
