<div>
    <h2 id="page-heading">
        <span>Application Transactions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-application-transaction" [routerLink]="['/application-transaction/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Application Transaction
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="applicationTransactions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Event Count</span></th>
            <th><span>Event Repository Type</span></th>
            <th><span>Repository Event Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let applicationTransaction of applicationTransactions ;trackBy: trackId">
                <td><a [routerLink]="['/application-transaction', applicationTransaction.id, 'view' ]">{{applicationTransaction.id}}</a></td>
                <td>{{applicationTransaction.name}}</td>
                <td>{{applicationTransaction.eventCount}}</td>
                <td>{{applicationTransaction.eventRepositoryType}}</td>
                <td>{{applicationTransaction.repositoryEventName}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/application-transaction', applicationTransaction.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/application-transaction', applicationTransaction.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'application-transaction/'+ applicationTransaction.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
